<% provide(:title, "Now Showing") %>
<%
    pagination = {
        page: @movies.current_page(),
        pages: @movies.total_pages(),
        pages_display: 2,
        options: {
            count: params[:count]
        }
    }
%>
<h2 class="ui header">
    Now Showing
    <div class="sub header">The movies that you can book right now.</div>
</h2>
<div class="ui divider"></div>
<%= render("partials/messages", messages: flash[:messages]) %>
<% if @movies.any?() %>
    <div class="ui divided list">
        <% for movie in @movies %>
            <%= render("showings/showing", movie: movie) %>
        <% end %>
    </div>
<% else %>
    <p>There's nothing to see here.</p>
<% end %>
<div class="ui center aligned basic fitted segment">
    <%= render("partials/pagination", pagination) %>
</div>