<h1>CineBook</h1>
<br>
<p>
    Hello <strong><%= @user.full_name %></strong>,

    Welcome to CineBook!
    To continue gaining access to the different features of the site, you will be needing to activate your account first.

    Kindly click this <%= link_to("link", @url) %> or the link below to proceed:

    <%= link_to(@url, @url) %>

    - CineBook
</p>