<header>
    <h1 class="ui header">
        <a href="<%= root_path() %>" class="ui image">
            <%= image_tag("movies.png") %>
        </a>
        <div class="content">
            <%= render("partials/app_title") %>
            <div class="sub header">Your <b>#1</b> companion for movie booking.</div>
        </div>
    </h1>

    <div class="ui divider"></div>
</header>