<div id="image-previews-parent" class="ui secondary segment" style="display: none">
    <div id="image-previews">
        <div id="image-preview" style="display: none">
            <img>
        </div>
    </div>
</div>