<%
    signed_in = controller.get_signed_in()
    admin = signed_in && signed_in.admin?
    name = controller.action_name
    navs = [
        {
            url: !signed_in ? new_session_path() : nil ,
            active: controller.on_page("users", "new", "create") ||
                controller.on_page("sessions", "new", "create", "destroy"),
            text: "Auth",
            icon: "orange lock",
            data: nil
        },
        {
            url: signed_in ? root_path() : nil,
            active: Utils.is_page(controller, "application", "index"),
            text: "Overview",
            icon: "orange eye",
            data: nil
        },
        {
            url: admin ? new_cinema_path() : nil,
            active: Utils.is_page(controller, "cinemas", "new", "create", "show"),
            text: "Cinemas",
            icon: "orange theater masks",
            data: nil
        },
        {
            url: admin ? new_movie_path() : nil,
            active: Utils.is_page(controller, "movies", "new", "create", "show"),
            text: "Movies",
            icon: "orange film",
            data: nil
        },
        {
            url: admin ? new_timeslot_path() : nil,
            active: Utils.is_page(controller, "timeslots", "new", "create", "show"),
            text: "Timeslots",
            icon: "orange clock",
            data: nil
        },
        {
            url: signed_in && admin ? new_showing_path() : (nil),
            active: Utils.is_page(controller, "showings", "new", "create", "show"),
            text: "Showings",
            icon: "orange tv",
            data: nil
        },
        {
            url: signed_in ? new_booking_path() : (nil),
            active: Utils.is_page(controller, "bookings", "new", "create", "show"),
            text: "Bookings",
            icon: "orange tv",
            data: nil
        },
        {
            url: signed_in ? destroy_session_path(user_id: signed_in.id) : nil,
            active: Utils.is_page(controller, "session", "destroy"),
            text: "Sign Out",
            icon: "orange sign out alternate",
            data: {
                turbo_method: :delete,
                turbo_confirm: 'Are you sure you want to sign out?'
            }
        },
    ]
%>
<div id="navigation-parent" class="four wide column">
    <nav id="navigation" class="ui fluid vertical pointing compact menu">
        <% for nav in navs%>
            <%
                url = nav[:url]
                active = nav[:active]
                text = nav[:text]
                icon = nav[:icon]
                data = nav[:data]
                icon = "<i class='icon #{icon}'></i>"
                body = raw("#{icon}#{text}")
            %>
            <% if url %>
                <%= link_to(body, url, data: data, class: ["item", ("active" if active)].join(" ")) %>
            <% end %>
        <% end %>
    </nav>
</div>