<h2 class="ui header">
  <%= Cinema.all.size %>
  <div class="sub header">Total Number of Cinemas registered.</div>
</h2>
<h2 class="ui header">
  <%= Booking.all.size %>
  <div class="sub header">Total Number of Bookings registered.</div>
</h2>