<%
    view ||= false
    delete ||= false

    controls = []

    controls.append(link_to("View", show_cinema_path(cinema))) if view
    controls.append(link_to(
        "Delete", destroy_cinema_path(cinema), data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure you want to delete this cinema?'
    })) if delete

    scontrols = controls.join(" | ")
%>
<div class="item">
    <%= image_tag(cinema.image.attached? ? cinema.image : get_placeholder(), class: "ui mini circular image entry-image middle aligned icon") %>
    <div class="content">
        <div class="header" title="<%= cinema.name %>"><%= cinema.name.truncate(50) %></div>
        <% if controls.any?() %>
            <%= raw(scontrols) %>
        <% end %>
    </div>
</div>